.vmodal {
    justify-content: center;
}

.vmodal.open .modal-overlay,
.vmodal.open .modal-window {
    opacity: 1;
    z-index: 1000;
}

.vmodal.hide .modal-overlay,
.vmodal.hide .modal-window {
    opacity: 1;
    z-index: 1000;
}

.vmodal.open .modal-window {
    transform: translateY(100px);
}

.vmodal.open .modal-overlay {
    background-color: rgba(0, 0, 0, 0.199);
}

.vmodal.hide .modal-window {
    transform: translateY(-200px);
}

.vmodal.hide .modal-overlay {
    background-color: rgba(0, 0, 0, 0.178);
}


.modal-window, .modal-overlay {
    opacity: 0;
    z-index: -1;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.171);
    transition: background-color .2s ease-in;
}

.modal-window {
    width: 400px;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 auto;
    transform: translateY(-200px);
    transition: transform .2s ease-in;
}

.modal-header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #eee;
}

.modal-title {
    font-size: 1.5em;
}

.modal-close {
    cursor: pointer;
}

.modal-body {
    padding: 10px;
}

.modal-body {
    margin: 0 0 5px;
}

.modal-footer {
    padding: 10px 15px;
    border-top: 1px solid #eee;
}